
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Home/ClientOne">Client 1</a><br />
    <a href="/Home/ClientTwo">Client 2</a><br />
    <a href="/Home/ClientThree">Client 3</a><br />
</body>
</html>
